---
import '../styles/app.css';
---

<!DOCTYPE html>
<html>

<head>
    <title>webdev101 remi sharrock</title>
    <meta charset="UTF-8">
</head>

<body>
    <script src="../scripts/app.ts"></script>
    <br>
    <hello-world></hello-world>
    <br>
    <hello-name></hello-name>
    <br>
    <hello-name name="Charlotte"></hello-name>
    <br>
    <hello-name id="third" name="Eva"></hello-name>
    <br>
</body>

</html>